.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.error h1 {
  font-size: 70px;
}

.error h2 {
  padding: 10px;
}

.error a {
  text-decoration: none;
  padding: 10px;
}

/* .sugestion {
    padding: 10px;
  } */
