.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navBar{
    width: 100%;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px;
}
